body{
    box-sizing: border-box;
    padding:0px;
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
}
section{
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: rgb(15, 5, 44);
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
}
section::before{
    content: "";
    position: absolute;
    height:240px;
    width:240px;
    transform: translate(-150px,-100px);
    background: linear-gradient(90deg,#9c27b0,#f3f5f5);
    border-radius: 50%;
}
section::after{
    content: "";
    position: absolute;
    height:240px;
    width:240px;
    transform: translate(150px,100px);
    background: linear-gradient(90deg,#9c27b0,#f3f5f5);
    border-radius: 50%;
    color: white;
}
.front-face header,
.front-face .logo{
    display: flex;
    align-items: center;
}

.front-face header{
    
    justify-content: space-between;
}
.container{
    height: 225px;
    width:375px;
    position: relative;
    z-index: 10;
    transition: 0.3s ease;
    transform-style:preserve-3d;


}
.container:hover{
    transform: rotateY(180deg);

}
.container .card{
    position: absolute;
    height: 100%;
    width:100%;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(25px);
    box-shadow: 0px 25px 45px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px;
    backface-visibility: hidden;

}
.front-face .logo img{
    width:48px;
    margin-left: 10px;
}
h5{
    color: white;
    font-size: 16px;
    font-weight: 400;
}
.front-face .chip{
    width: 50px;

}
.name{
    margin-top: 30px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.number-text{

    color: white;
    font-size: 32px;
    font-weight: 400;
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: 8px;
}
.date{
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin-top:20px;
    margin-left: 20px;
    margin-bottom:0px ;
    
    
}
.date-detail{
    color: white;
    font-size: 14px;
    font-weight: 400;
    margin-top:5px;
    margin-left: 25px;
    margin-bottom: 1px;
    
}
.card.back-face{
    border: none;
    padding: 15px 25px 25px 25px;
    transform: rotateY(180deg);

    
}
.magnetic-strip{
    position: absolute;
    font-weight: 400;
    background-color: black;
    width:100%;
    height: 40px;
    top:45px;
    left: 0;
}
.help{
    font-size:8px;
    font-weight: 400;
    color: white;
    margin-bottom: 2px;
}
.last{
    margin-top: 40px ;
    font-size: 12px;
}
.signature{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top:50px;
    color:white;
    width: 85%;
    height: 40px;
    margin-top:60px;
    background:repeating-linear-gradient(
      #fff,
      #efefef 3px,
      #fff 0px,
      #efefef 9px
    );
    border-radius: 5px;
}
.signature i{
    color:black;
    margin-right: -25px ;
    padding: 4px 6px ;
    font-size:12px;
    background-color: white;
    border-radius: 5px;
    z-index: -1;

}






